<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.7.0"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->

  <servlet>
    <servlet-name>administration</servlet-name>
    <servlet-class>de.hdm.myjob.server.AdministrationImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>administration</servlet-name>
    <url-pattern>/myjob/admin</url-pattern>
    <url-pattern>/myjobreport/admin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <servlet-name>reportadministration</servlet-name>
    <servlet-class>de.hdm.myjob.server.report.ReportAdministrationImpl</servlet-class>
  </servlet>
  
   <servlet-mapping>
    <servlet-name>reportadministration</servlet-name>
    <url-pattern>/myjob/reportadmin</url-pattern>
    <url-pattern>/myjobreport/reportadmin</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>MyJob.html</welcome-file>
    <welcome-file>MyJobReport.html</welcome-file>
  </welcome-file-list>

</web-app>
